{% if field.field.widget.input_type == 'checkbox' %}
<div class="field">
  <div class="field-check">{{ field }}<label for="{{ field.id_for_label }}">{{ field.label }}</label></div>
  {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
  {{ field.errors }}
</div>
{% elif field.is_hidden %}{{ field }}
{% else %}
<div class="field">
  <label for="{{ field.id_for_label }}">{{ field.label }}{% if not field.field.required %} <span class="optional">(optional)</span>{% endif %}</label>
  {{ field }}
  {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
  {{ field.errors }}
</div>
{% endif %}
